<h1><%= @name %>'s games</h1>

<p><%= @games.count %> games, <%= @games.map {|g| g["playtime_forever"] }.inject(:+) / 60 %> hours played<br>
<%= "showing games with more than #{ params[:h] } hours of playtime" if params[:h].to_i > 0 %>

</p>

<div>
  <% @games.each do |game| %>
    <span>
      <img class="<%= 'done' if game['playtime_forever']/60 < params[:h].to_i %>" onerror='this.style.display="none"' src='http://cdn4.steampowered.com/v/gfx/apps/<%= game["appid"] %>/header.jpg' />
    </span>
  <% end %>
</div>
