<h1><%= @name.capitalize %>'s Games</h1>

<%= erb :form, locals: { hideable: true } %>

<% if @notfound %>
  <h1>Sorry, I couldn't find that steamid. Try harder.</h1>
<% else %>
  <p><%= @games.count %> games, <%= @games.map {|g| g["playtime_forever"] }.inject(:+) / 60 %> hours played<br>
  <%= "Showing games with more than #{ params[:h] } hours of playtime." if params[:h].to_i > 0 %></p>

  <% @games.each_slice(3) do |games| %>
    <div class="row">
      <% games.each do |game| %>
        <div class="four columns">
          <img class="<%= 'done' if game['playtime_forever']/60 < params[:h].to_i %>" onerror='this.style.display="none"' src='http://cdn.akamai.steamstatic.com/steam/apps/<%= game["appid"] %>/header_292x136.jpg' />
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

